@import url(http://allfont.net/allfont.css?fonts=league-spartan);
@import url(avenir-font/Avenir-Book.otf);


.selectedText {
      background-color: #FFF507;
    }
    

/* Global font style */
body {
    font-family: 'Avenir-Book', arial;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'League Spartan Bold', arial;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-family: 'Avenir-Heavy', arial;
    font-size: 24px;
}



/* Layout components */
.container {
    
}

.navbar {
    padding: 20px 0px;
}

.nav-link {
    font-family: 'League Spartan Bold', arial;
    font-size: 14px;
}

.hero {
    background-color: transparent;
    margin-top: 20vh;
    height: 80vh;
}

.row {
    margin: 30px 0px 30px 0px; 
}

/* Invididual Styles */
#first-project {
    background-color:#FF9393;
}

#second-project {
    background-color: #93FFA8;
}

#third-project {
    background-color: #93FFFB;
}

/* Icons */
.ico-instagram {
  background-repeat: no-repeat;
  background-image: inline-image("icons//instagram.svg");
}

.linkedin-ico {

}
