@import url(http://allfont.net/allfont.css?fonts=league-spartan);
@import url(avenir-font/Avenir-Book.otf);

/* Global font style */
body {
    font-family: 'Avenir-Book', arial;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'League Spartan Bold', arial;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

/* Layout components */
.container {
    width: 60vw;
}

.navbar {
    padding: 20px 0px;
}

.hero {
    background-color: transparent;
    margin: 65px 0px 65px 0px;
}

.row {
    margin: 30px 0px 30px 0px; 
}

/* Invididual Styles */
#first-project {
    background-color:#FF9393;
}

#second-project {
    background-color: #93FFA8;
}

#third-project {
    background-color: #93FFFB;
}