<footer>
  <div class="container">
    <div class="footer-content">
      <div class="info">
        <div><a href="#">&copy; Alex Wang</a></div>
        <div class="copyright2">Handcrafted with love <i class="fa fa-heart"></i></div>
        <div class="contact">
          <a href="">
            <div class="footer-button"><img src=""></div>
          </a>
          <a href="" >
            <div class="footer-button"><img src=""></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>