<footer id="footer">
  <div class="footer-content">
    <h1>Let's Connect!</h1>
    <ul class="contact-links">
      <li><a href="mailto:alexwangnj@gmail.com" target="_blank"><div class="icon icon-email"></div></a></li>
      <li>
        <a href="https://www.linkedin.com/in/alexwangnj/" target="_blank"><div class="icon icon-linkedin"></div></a>
      </li>
      <li>
        <a href="https://github.com/awanger" target="_blank"><div class="icon icon-github"></div></a>
      </li>
    </ul>
  </div>
</footer>