<header>
  <div class="container">
    <nav class="navbar">
      <label for="toggle" class="hamburger"><i class="fa fa-bars"></i></label>
      <input type="checkbox" id="toggle">
      <ul class="nav-list">
        <li class="nav-link"><a href="#portfolio-content">projects</a></li>
        <li class="nav-link"><a href="https://drive.google.com/open?id=1Uee-mZR1SrHgk5Q34AWhYqOY4sIUCXVd" target="_blank">resume</a></li>
        <li class="nav-link"><a href="#">contact</a></li>
      </ul>
    </nav>
  </div>
</header>