<nav class="navbar">
  <div class="container">
    <input type="checkbox" id="toggle">
    <h3 class="logo"><a href="/">Alex Wang</a></h3>
    <label for="toggle" class="hamburger"><div></div></label>
    <ul class="nav-list">
      <li class="nav-link"><a href="/#portfolio-content">projects</a></li>
      <li class="nav-link"><a href="https://drive.google.com/file/d/1Z_ZF1s92cx6FE78ACnBbpfXcaXCkRalu/view?usp=sharing" target="_blank">resume</a></li>
      <li class="nav-link"><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
<script>
  const currentPage = document.URL;
  const logo = document.querySelector('.logo');
  const navLinks = document.querySelectorAll("a");

  function addLightenTextClass(item) {
    item.classList.add('lighten-text');
  } 

  function toggleNavbarColor() {
    if (currentPage.includes("/projects")) {
      addLightenTextClass(logo);
      navLinks.forEach(addLightenTextClass);
    }
  }
  
  toggleNavbarColor();


</script>