<nav class="navbar">
  <div class="container">
    <input type="checkbox" id="toggle">
    <h3 class="logo"><a href="/">Alex Wang</a></h3>
    <label for="toggle" class="hamburger"><div></div></label>
    <ul class="nav-list">
      <!-- <li class="nav-link"><a href="/#portfolio-content">projects</a></li> -->
      <div class="desktop-links">
        <li class="nav-link"><a href="https://drive.google.com/open?id=1Qeg29I4e7nZ_E0NQvFqOAvBrPdE21DlM" target="_blank">resume</a></li>
        <li class="nav-link"><a href="/about">About Me</a></li>
      </div>
      <div class="mobile-links">
        <li class="nav-link"><a href="https://drive.google.com/open?id=1Qeg29I4e7nZ_E0NQvFqOAvBrPdE21DlM" target="_blank">resume</a></li>
        <li class="nav-link"><a href="/about">About Me</a></li>
      </div>
    </ul>
  </div>
</nav>
<script>
  const currentPage = document.URL;
  const logo = document.querySelector('.logo');
  const navLinks = document.querySelectorAll("a");
  const targetElement = document.querySelector('.nav-list');
  const hamburger = document.querySelector('.hamburger');
  const toggle = document.querySelector('#toggle');

  function addLightenTextClass(item) {
    item.classList.add('lighten-text');
  }

  function toggleNavbarColor() {
    if (currentPage.includes("/projects")) {
      addLightenTextClass(logo);
      navLinks.forEach(addLightenTextClass);
    }
  }

// 1. Get a target element that you want to persist scrolling for (such as a modal/lightbox/flyout/nav).
// Specifically, the target element is the one we would like to allow scroll on (NOT a parent of that element).
// This is also the element to apply the CSS '-webkit-overflow-scrolling: touch;' if desired.

// 2. ...in some event handler after showing the target element...disable body scroll
// bodyScrollLock.disableBodyScroll(targetElement);
 
// 3. ...in some event handler after hiding the target element...
// bodyScrollLock.enableBodyScroll(targetElement);
 
// 4. Useful if we have called disableBodyScroll for multiple target elements,
// and we just want a kill-switch to undo all that.
bodyScrollLock.clearAllBodyScrollLocks();

hamburger.addEventListener("click", ()=> {
  if(toggle.checked) {
    bodyScrollLock.enableBodyScroll(targetElement);
  } else {
    bodyScrollLock.disableBodyScroll(targetElement);
  }
  // console.log(toggle.checked);
})

toggleNavbarColor();

</script>