@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

/* Variables */
$font-sans: 'Lato', sans-serif;
$font-serif: 'Merriweather', serif;
$highlight: #0099ff;
$light-grey: rgba(0,0,0,.6);
$dark-grey: #333;
$snow-white: rgba(255,255,255,0.8);

/* Mixins */
@mixin smooth-animation {
    transition: 0.2s ease;
}

// Force the height to be the same as the width
@mixin force-square {
    &::before {
        content: "";
        padding-bottom: 100%;
        display: block;
        grid-area: 1 / 1 / 2 / 2; // forces element onto the first row and column of grid
    }
}

// Horizontally and vertically center every element 
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: $font-sans;
    font-size: 18px;
    color: #000;
}

h1 {
    font-size: 1.75rem;
}

a {
    text-decoration: underline;
    color: $highlight;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 23px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}