@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4b4b4b;
}

body {
    background-color: #FAFAFA;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 1.3rem;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 4%;
}

header {
    background-color: #0A0A0A;
}

/* Navbar mobile layout */
.navbar {
    padding: 1.3rem 0;
    width: 100%;
}


.nav-list {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    display: none;
    user-select: none; 
}

.nav-link {
    text-transform: lowercase;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.nav-link > a {
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    letter-spacing: 2px;
}

.nav-link > a:hover {
    opacity: 1.0;
}

/* checkbox - needs to be hidden */
#toggle {
    position: absolute;
    top: -100px;
    left: -100px;
    display: none;
}

#toggle:checked + .nav-list {
    display: block;
}

.hamburger {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
}


.navbar-brand {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    letter-spacing: 2px;
}

.navbar-brand:hover {
    opacity: 1;
}

/* Navbar desktop version */
@media screen and (min-width: 750px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 0;
    }

    .nav-link {
        margin: 0;
    }
}


.title1, title2 {
    font-family: 'Lato', sans-serif;
}

.title1 {
    font-weight: 550;
    font-size: 80px;
    margin-bottom: 0.25em;
}   @media screen and (max-width: 575px) {
        .title1 { 
            font-size: 42px;
            /* margin-top: 30px; */
        }
    }

.title2 {
    font-size: 20px;
}   @media screen and (max-width: 575px) {
        .title2 { font-size: 20px; }
}


#contact-links {
    /* margin-top: 80px; */
    margin-top: 1em;
}

#contact-links > a {
    font-size: 1.25em;
    margin-right: 0.5em;
    /* transition: opacity 0.5s ease; */
    opacity: 0.75;
}

#contact-links > a:hover {
    opacity: 1;
}


.blurb {    
    font-weight: 500;
    max-width: 800px;
    line-height: 1.5em;
} 

/* Hero section */
.jumbotron {
    height: calc(100vh - 50px);
    background-color: #ffffff;
    padding-top: 15vh;
} @media screen and (max-width: 575px) {
    .jumbotron {
        height: 60vh;
    }
}

.jumbotron > .container {
    text-align: left;
    /* max-width: 600px; */
}

.btn {
    margin-right: 12px;
    border-radius: 0;
}

/* Content */
.section-header {
    font-size: 12px;
    font-weight: 400;
    color: grey;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 50px;
}


.fit-parent {
    width: 100%;
}

.project-container {
    margin-bottom: 6em;
    height: 340px;
    transition: all 0.5s ease;
    display: flex;
} @media screen and (max-width: 575px) {
    .project-container { 
        box-shadow: 0 10px 20px #c7cad1;
        margin: 0px 25px 75px 25px;
     }
}

.project-container:hover {
    box-shadow: 0 10px 20px #c7cad1;
    -webkit-transform: translate(0, -4px);
            transform: translate(0, -4px);
}


.project-title {
    font-size: 40px;
    /* font-weight: 800; */
} @media screen and (max-width: 575px) {
    .project-title { 
        font-size: 24px;
    }
}


.project-preview {
    flex-basis: 50%;
    overflow: hidden;  
}

.project-content {
    flex-basis: 50%;
    padding: 40px;
}

.subtitle {
    color: #7D7D80;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 56px;
} @media screen and (max-width: 575px) {
    .subtitle { margin-bottom: 24px; }
}


.project-link, .project-link:hover {
    color: inherit;
}

.project-link:hover {
    text-decoration: none;
}

#peterson-pdf {
    margin-top: 15px;
    box-shadow: 0 2px 5px #c7cad1;
}

.project-content {
    background-color: #FFFFFF;
}

.subheading {
    color: #7D7D80;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 5px;
} @media screen and (max-width: 575px) {
    .subheading { margin-bottom: 24px; }
}

.text-container {
    max-width: 600px;
    margin: 3em auto;
}

.image-container {
    max-width: 1200px;
    text-align: center;
    padding-bottom: 15px;
}

.image-caption {
    font-style: italic;
    font-size: 12px;
    margin-top: 12px;
}

.image-container.background-fill{
    background-color: #FAFAFA;
}


/* Footer */
footer {
    background-color: #0A0A0A;
    padding-top: 20px;
}

@media screen and (max-width: 575px) {
    .footer-content { 
        text-align: center;
     }
}
