@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4b4b4b;
}

body {
    background-color: #FAFAFA;
}


a {
    color: #09f;
    text-decoration: none;
}

.container {
    width: 90%;
    max-width:1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* Navbar mobile layout */
.navbar {
    background-color: #0A0A0A;
    padding: 1rem 1rem;
}


.nav-links {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.25rem;
    display: none;
}

.nav-links > li {
    margin-bottom: 10px;
}

/* checkbox - needs to be hidden */
#toggle {
    position: absolute;
    top: -100px;
    left: -100px;
    display: none;
}

#toggle:checked + .nav-links {
    display: block;
}

.hamburger {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
}


.navbar-brand {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    letter-spacing: 2px;
}

.navbar-brand:hover {
    opacity: 1;
}


.title1, title2 {
    font-family: 'Lato', sans-serif;
}

.title1 {
    font-weight: 550;
    font-size: 76px;
    /* margin-top: 60px; */
}   @media screen and (max-width: 575px) {
        .title1 { 
            font-size: 40px;
            /* margin-top: 30px; */
        }
    }

.title2 {
    font-size: 20px;
}   @media screen and (max-width: 575px) {
        .title2 { font-size: 20px; }
}


#contact-links {
    margin-top: 80px;
}

.blurb {    
    font-weight: 500;
    max-width: 800px;
} 

/* Hero section */
.jumbotron {
    height: 90vh;
    background-color: #ffffff;
} @media screen and (max-width: 575px) {
    .jumbotron {
        height: 60vh;
    }
}

.jumbotron > .container {
    text-align: left;
    /* max-width: 600px; */
}

.btn {
    margin-right: 12px;
    border-radius: 0;
}

/* Content */
.section-header {
    font-size: 12px;
    font-weight: 400;
    color: grey;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 50px;
}

/* .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 340px;
    
} */

.box {
    margin-bottom: 6em;
    transition: all 0.5s ease;
} @media screen and (max-width: 575px) {
    .box { 
        box-shadow: 0 10px 20px #c7cad1;
        margin: 0px 25px 75px 25px;
     }
}

.box:hover {
    box-shadow: 0 10px 20px #c7cad1;
    -webkit-transform: translate(0, -4px);
            transform: translate(0, -4px);
}


.project-title {
    font-size: 40px;
    /* font-weight: 800; */
} @media screen and (max-width: 575px) {
    .project-title { 
        font-size: 24px;
    }
}

.project-description {
    padding: 40px;
}

.subtitle {
    color: #7D7D80;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 56px;
} @media screen and (max-width: 575px) {
    .subtitle { margin-bottom: 24px; }
}


.project-link, .project-link:hover {
    color: inherit;
}

.project-link:hover {
    text-decoration: none;
}


.fit-parent {
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
}

.fit-parent.shrink {
    max-width: 75%;
}

.fit-parent.expand {
    width: 120%;
}

#peterson-pdf {
    margin-top: 15px;
    box-shadow: 0 2px 5px #c7cad1;
}

.project-description {
    background-color: #FFFFFF;
}

.subheading {
    color: #7D7D80;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 5px;
} @media screen and (max-width: 575px) {
    .subheading { margin-bottom: 24px; }
}

.text-container {
    max-width: 600px;
    margin: 3em auto;
}

.image-container {
    max-width: 1200px;
    text-align: center;
    padding-bottom: 15px;
}

.image-caption {
    font-style: italic;
    font-size: 12px;
    margin-top: 12px;
}

.image-container.background-fill{
    background-color: #FAFAFA;
}


/* Footer */
footer {
    background-color: #0A0A0A;
    padding-top: 20px;
}

@media screen and (max-width: 575px) {
    .footer-content { 
        text-align: center;
     }
}

body {
    transition: 0.5s;
    opacity: 1;
  }
  
  body.fade {
      opacity: 0;
      transition: none;
  }
