#portfolio-content {
  padding: 1em 0;
}

.grid {
  display: grid;
  grid-gap: 0.4em;
  .thumbnail {
    display: grid;
    // background-color: #c2e9fb;
    @include force-square;
    img {
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
      }
      .overlay {
        grid-area: 1 / 1 / 2 / 2;
        opacity: 0;
        background-color: $snow-white; // on mobile this value should be transparent I guess
        @include smooth-animation;
        @include center-elements;
        &:hover {
          opacity: 0.99; // don't know why opacity = 1 causes a problem
          cursor: pointer;
        }
      }
  }
}
@media (max-width: $md) {
  .grid {
    grid-template-columns: 1fr;
    .thumbnail {
      .overlay {
        opacity: 0.8; // on mobile this value should always be >0
      }
    }
  }

}
@media (min-width: $md) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $lg) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title {
  font-family: $font-serif;
  font-weight: 400;
  font-size: 4em;
  /* margin-bottom: 0.25em; */
}   

.blurb {
  font-size: 1.75em;
  color: $dark-grey;
  margin-top: 0.75rem;
  line-height: 1.4em;
  font-weight: 300;
}

@media screen and (max-width: 575px) {
  .title { 
    font-size: 3em;
  }
  .blurb {
    font-size: 1em;
    font-weight: $normal;
  }
}

// .project-title {
//   font-family: $font-serif;
//   font-size: 2.2rem;
//   margin-bottom: 1rem;
//   font-weight: 400;
// } @media screen and (max-width: 575px) {
//   .project-title { 
//       font-size: 24px;
//   }
// }