.text-container {
  color: black;
  font-size: 1.125rem;
  line-height: 30px;
  margin: 3em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-title {
  font-size: 3rem;
  font-weight: $bold;
  line-height: normal;
}
.project-header {
  grid-column: 1/2;
  font-size: 2.5rem;
  font-weight: $semibold;
  font-family: $font-sans;
  line-height: normal;
}
.project-body {
  grid-column: 2/4;
  .paragraph-header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
}

.image-container {
  max-width: 100%;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr;
  &.col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    width: 100%;
  }
}
