.text-container {
  color: black;
  font-size: 1.125rem;
  line-height: 30px;
  margin: 3em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-title {
  font-size: 3rem;
  font-weight: $bold;
}
.project-header {
  grid-column: 1/2;
  font-size: 3rem;
  font-weight: $semibold;
  font-family: $font-sans;

}
.project-body {
    grid-column: 2/4;
    .paragraph-header {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
}

.image-container {
  max-width: 1200px;
  text-align: center;
  padding-bottom: 15px;
}

.image-caption {
  font-style: italic;
  font-size: 12px;
  margin-top: 12px;
}

.image-container.background-fill{
  background-color: #FAFAFA;
}